@charset "UTF-8";

@font-face {
    font-family: 'Mark Pro';
    src: url(fontes/MARKPRO.OTF) format(Opentype);
}

@font-face {
    font-family: 'Vecna';
    src: url(fontes/Vecna-oppx.ttf);
}

@font-face {
    font-family: 'Dragonhunter';
    src: url(fontes/DragonHunter.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*GLOBAIS*/

p {
    text-align: justify;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1, h2 {
    font-family: 'Mark Pro';
}

/*INDIVIDUAIS*/

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #1f1f1f;
    margin: 0px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.445);
}

header div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

header nav {
    position: absolute;
    left: 69%;
    margin: 10px 0px;
}

header > div > nav > a {
    font-family: 'Mark Pro';
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 0px 5px 0px 15px;
}

nav > a:hover {
    color: #FF0008;  
}

header img {
    max-width: 150px;
    margin: 5px 50px 0px 0px;
    padding: 10px;
}

footer {
    background-color: #1f1f1f;
}

footer > div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

footer p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    color: white;
    margin: 0px;
    padding: 10px;
}

#redes-sociais {
    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}

#redes-sociais > li {
    list-style-type: none;
    margin: 0px;
}

.imagem-redes {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    margin: 0px 10px 0px 0px;
    }